
@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html>
<head>
    <title>Hekim Profili</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }

        .profile-picture img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        .profile-info {
            margin-left: 20px;
        }

            .profile-info h2 {
                font-size: 24px;
                margin: 0;
            }

            .profile-info h3 {
                font-size: 18px;
                margin: 10px 0;
            }

            .profile-info p {
                font-size: 14px;
                line-height: 1.5;
            }

            .profile-info ul {
                list-style-type: none;
                padding: 0;
            }

            .profile-info li {
                margin-bottom: 5px;
            }
    </style>
</head>
<body>
    <header>
        <h1>Hekim Profili</h1>
    </header>

    <div class="container">
        <div class="profile-picture">
            <img src="hekim_resmi.jpg" alt="Hekim Resmi">
        </div>
        <div class="profile-info">
            <div>
                <h2>Dr. İsim Soyisim</h2>
                <h3>Uzmanlık Alanı</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in dictum leo. Sed eu libero et nibh semper fringilla.</p>
            </div>
            <div>
                <h3>İletişim Bilgileri</h3>
                <ul>
                    <li>Telefon: 123456789</li>
                    <li>E-posta: drisimsoyisim@example.com</li>
                    <li>Adres: Örnek Sokak, Örnek Mahalle, Örnek Şehir</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

