@model List<Doctor>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
@*<style>
   

    .profile-picture img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    
        }
</style>
<br>
<body>

       
             <div class="container">
        <div class="profile-picture">
                    <img src="~/cdn.doctortap.az/uploads/doctor/doctor_20160830094438.png" alt="Hekim Resmi">
        </div>
        <div class="profile-info">
            <div>
                <h2>Məmməd Qəhramanov</h2>
                <h3>Nevroloq</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in dictum leo. Sed eu libero et nibh semper fringilla.</p>
            </div>
            <div>
                <h3>Elaqe</h3>
                <ul>
                    <li>Telefon: 123456789</li>
                    <li>E-posta: drisimsoyisim@example.com</li>
                    <li>Adres: Örnek Sokak, Örnek Mahalle, Örnek Şehir</li>
                </ul>
            </div>
        </div>
    </div>
    
</body>*@
